<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
    <div flex="60" layout="column">
        <md-card class="animation" 
                 ng-repeat="news in activeNews">
            <md-card-title style="margin: 20px">
                <md-card-title-text>
                    <span class="md-headline">{{news.dynamic.title}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p class="md-title">
                    <i>{{news.releaseDate | date : 'M/d/yy h:mm a'}}</i>
                </p>
                <p>
                    <i>{{news.dynamic.introduction}}</i>
                </p>
                <div ng-bind-html="news.body"></div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-show="showPrevious" ng-click="changeNews(-1)">Previous</md-button>
                <md-button ng-show="showNext" ng-click="changeNews(1)">Next</md-button>
            </md-card-actions>
            <div>
                <img ng-src="{{news.image}}"
                     fallback-src="images/fallback.jpg"
                     class="md-card-image"/>
            </div>
        </md-card>
    </div>
</md-content>